<div class="container">
    <form #myLoginForm="ngForm" (submit)="login()">
        <h1 align="center">Login in Glam&Glitter</h1>
        <div class="firstsInputs">
            <label>Email</label>
            <input type="email" name="email" ngModel #email placeholder="Introduce your email"> 
            <label>Password</label>
            <input type="password" name="password" ngModel #password placeholder="Introduce your password"> 
        </div>
        
        <div class="buttonContainer">
            <button class="formButton" type="submit">Login</button>
        </div>

        <div class="linkContainer">
            <a style="font-size: 17px;" class="linkButton" routerLink="/user/forgotPassword" type="button">Forgot My Password</a>
            <a style="font-size: 17px;" class="linkButton" routerLink="/auth/register" type="button">Register Here</a>
        </div>
    </form>
    <div class="login">
        <img src="../../../assets/img/LoginBien.png">
    </div>
</div>
