<div class="container">
  <div class="cardTitle">
    <p>Welcome administrator, manage the company</p>
  </div>
</div>

<div class="admin-panel">
  <div class="grid-container">
    <div class="card">
      <span class="icon">👥</span>
      <h3>Register stylist</h3>
      <p class="card-text">Register a stylist for the company</p>
      <a routerLink="/user/registerStylist">Access</a>
    </div>
    <div class="card">
      <span class="icon">⏳</span>
      <h3>Pending reserves</h3>
      <p class="card-text">Update or delete any pending reserve</p>
      <a routerLink="/user/pendingReserves">Access</a>
    </div>
    <div class="card">
      <span class="icon">📊</span>
      <h3>Reports</h3>
      <p class="card-text">Generate detailed system reports.</p>
      <a routerLink="/pdf/serviceSummary">Access</a>
    </div>
    <div class="card">
      <span class="icon">🛠️</span>
      <h3>Manage Services</h3>
      <p class="card-text">Activate o disactivated any services</p>
      <a routerLink="/user/manageServices">Access</a>
    </div>
    <div class="card">
      <span class="icon">📅</span>
      <h3>Stylist</h3>
      <p class="card-text">Check if some stylist no have any schedule</p>
      <a routerLink="/user/stylists">Access</a>
    </div>
    <div class="card">
      <span class="icon">👨‍💼👩‍💼</span>
      <h3>Manage workers</h3>
      <p class="card-text">
        Access to the list of workers a modify her schedule
      </p>
      <a routerLink="/user/allWorkersAdmin">Access</a>
    </div>
  </div>
</div>
