body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

h1{
    font-size: 45px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

label{
    font-size: 18px;
}

form {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15);
    padding: 30px;
    width: 90%;
    max-width: 500px; 
    transition: all 0.3s ease;
    margin-bottom: 20px; 
}

.firstsInputs, .secondInputs {
    display: flex;
    flex-direction: column; 
    gap: 12px; 
}

label {
    font-weight: bold;
    color: #333; 
}

.required {
    color: red;
}

input {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus {
    border-color: #6c63ff;
    box-shadow: 0 0 5px rgba(108, 99, 255, 0.5);
    outline: none;
}

.buttonContainer {
    display: flex;
    justify-content: center;
}

.formButton {
    background-color: rgb(130, 27, 249);
    color: white;
    border: none;
    border-radius: 6px;
    height: 50px;
    width: 100%; 
    font-size: 18px;
    transition: background-color 0.3s, transform 0.2s;
}

.formButton:hover {
    background-color: rgb(54, 13, 78);
    transform: translateY(-2px); 
}

.formButton:active {
    transform: translateY(0);
}

small{
    color: red;
    font-weight: bold;
    font-size: 16px;
}