@if (!isValidCode) {
    <div class="container">
        <form #myForm="ngForm" >
            <div class="firstsInputs">
                <label>Email</label>
                <input type="email" name="email" ngModel #email placeholder="Introduce your email">
                @if (sended) {
                    <label>Code</label>
                    <input type="text" name="code" ngModel #email placeholder="Introduce the code">
                }
            </div>
            @if (sended) {
                <div class="buttonContainer">
                    <button class="formButton" (click)="checkCode()" type="submit">Check code</button>
                </div>
            }@else {
                <div class="buttonContainer">
                    <button class="formButton" (click)="sendEmail()" type="submit">Send Code</button>
                </div>
            }
        </form>
    </div>
}@else {
    <div class="container">
        <form #myForm="ngForm" >
            <div class="firstsInputs">
                <label>Email</label>
                <input type="email" name="email" ngModel #email placeholder="Introduce your email">
                <label>Password</label>
                <input type="password" name="password" ngModel #password placeholder="Introduce your password">
                <label>Confirm your Password</label>
                <input type="password" name="confirmPassword" ngModel #confirmPassword placeholder="Confirm your password">
                <small>{{errorMessage}}</small>
            </div>
            <div class="buttonContainer">
                <button class="formButton" (click)="changePassword()" type="submit">Change password</button>
            </div>
        </form>
    </div>
}
