.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ecedee;
  padding: 60px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.form-container {
  width: 100%;
  max-width: 800px;
}

.form-container h3 {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 30px;
}

form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

form .form-row {
  display: flex;
  flex-direction: column;
}

form label {
  margin-bottom: 10px;
  font-size: 1.3rem;
  font-weight: bold;
  color: #333;
}

form input {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px; 
  font-size: 18px; 
  transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus {
  border-color: #6c63ff;
  box-shadow: 0 0 5px rgba(108, 99, 255, 0.5);
  outline: none;
}

form button {
  padding: 15px 30px;
  background-color: rgb(130, 27, 249);
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  grid-column: span 2;
  font-size: 18px;
}

form button:hover {
  background-color: rgb(54, 13, 78);
  transform: translateY(-2px); 
}

form button:active {
  transform: translateY(0);
}

select {
  width: 100%;
  padding: 15px;
  border-radius: 8px;
  font-size: 1.2rem;
}

.full-width {
  grid-column: span 2;
}

small{
  color: red;
  font-weight: bold;
  font-size: 16px;
}

select {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1.2rem;
  background-color: #f8f9fa;
  transition: border-color 0.3s, box-shadow 0.3s;
}

select:focus {
  border-color: #6c63ff;
  box-shadow: 0 0 5px rgba(108, 99, 255, 0.5);
  outline: none;
}

select.error {
  border-color: red;
}

.ratingSection {
  margin-left: 10px;
}

details {
  margin: 15px 0;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #ecedee;
  overflow-y: auto;
  max-height: 543px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

summary {
  font-weight: bold;
  font-size: 1.2em;
  cursor: pointer;
  margin-bottom: 10px;
}

summary:hover {
  text-decoration: underline;
}

.rating {
  padding: 15px;
  background-color: #f1f1f1;
  border-radius: 8px;
}

.rating p {
  margin: 5px 0;
}

hr {
  border: none;
  border-top: 1px solid #ddd;
  margin: 10px 0;
}


.alert-card {
  background-color: #d9a5e1;
  color: #6a1b9a;
  border: 1px solid #ba68c8;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  margin-bottom: 20px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {

  .container{
    display: grid;
    gap: 20px;
  }

  form{
    display: block;
    width: 120px;
  }

  form input{
    width: 215px;
  }

  form button{
    width: 250px;
  }

  .ratingSection {
    margin-left: -2px !important;
  }

  details {
    margin: 15px 0;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #ecedee;
    overflow-y: auto;
    max-height: 543px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  }

}