@if (reserves.length > 0) {

<div class="container">
  <div class="container-table">
    <table class="styled-table">
      <tr>
        <th>Date</th>
        <th>User</th>
        <th>Service</th>
        <th></th>
        <th>Actions</th>
        <th></th>
      </tr>
      @for (reserve of reserves; track $index) {
      <tr>
        <td>{{ reserve.day }}</td>
        <td>{{ reserve.username }}</td>
        <td>{{ getServiceName(reserve.idService) }}</td>
        @if (!isPastDate(reserve.day.toString())) {
        <td>
          <button
            (click)="editReserve(reserve.id)"
            style="background-color: #bcac1f"
          >
            Modify Cite
            <i class="fas fa-edit" aria-hidden="true"></i>
          </button>
        </td>
        <td></td>
        <td>
          <button
            (click)="deleteCite(reserve.id)"
            style="background-color: #f44336"
          >
            Cancel Cite
            <i class="fas fa-trash" aria-hidden="true"></i>
          </button>
        </td>
        }@else {
        <td></td>
        <td>
          <button class="button rating" (click)="addRating(reserve.id)">
            Add rating
          </button>
        </td>
        <td></td>
        }
      </tr>
      }
    </table>
  </div>
</div>

}@else {
<div class="container">
  <div class="alert-card">No cites booked</div>
</div>
}
