<div style="margin-left: 210px" class="navbar-container">
  <ul>
    <li><a routerLink="/"><img alt="Logo" src="../../../assets/img/Glam&Glitter.png" class="logo" /></a></li>
    <li><a routerLink="/service/services">Services</a></li>
    @if (existToken()) {
      <div class="dropdown">
        <a class="dropbtn" style="font-weight: bold; font-size: 25px;">
          Profile
        </a>
        <div class="dropdown-content">
          <a routerLink="/user/profile">Notifications</a>
          @if (getRole() === "admin") {
            <a routerLink="/user/pendingReserves">Pending reserves</a>
          }@else if (getRole() === "user") {
            <a routerLink="/user/myCites">My cites</a>
          }
          @if(getRole() === "admin") {
            <a routerLink="/user/registerStylist">Register stylist</a>
            <a routerLink="/user/stylists">Stylist</a>
          }
        </div>
      </div>
    }
    @if (isLoggued() === false) {
    <li><a routerLink="/auth/login">Login</a></li>
    }@else {
    <li><a (click)="logout()">Logout</a></li>
    }
  </ul>
</div>
