<div class="allContainer">
  <div class="navbar-container">
    <ul class="firstUl">
      <li routerLink="/">
        <a routerLink="/">
          <img alt="Logo" src="../../../assets/img/Glam_Glitter-removebg-preview.png" class="logo" />
        </a>
        G&G
      </li>
      <li>
        <div class="dropdown">
          <a class="dropbtn" style="font-weight: bold; font-size: 25px;" routerLink="/service/services" routerLinkActive="active">Services</a>
          <div class="dropdown-content">
            @for (category of categories; track $index) {
              <a style="font-size: 18px; font-weight: normal;" routerLink="/service/services/{{category.id}}" routerLinkActive="active">{{category.name}}</a>
            }
          </div>
        </div>
      </li>
    </ul>
  
    <ul class="secondUl">
      @if (isLoggued() === false) {
        <li><a routerLink="/auth/login" routerLinkActive="active" style="font-size: 25px !important;">Login</a></li>
      }@else {
        @if (existToken()) {
          <div class="dropdown">
            <a class="dropbtn" routerLinkActive="active" style="font-weight: bold; font-size: 25px;">
              {{getName()}}
            </a>
            <div class="dropdown-content">
              <a routerLink="/user/profile" routerLinkActive="active">Notifications</a>
              @if (isLoggued()) {
                <a routerLink="/user/myCites" routerLinkActive="active">My quotes</a>
              }
              @if(getRole() === "admin") {
                <a routerLink="/user/adminPanel" routerLinkActive="active">Admin panel</a>
              }
            </div>
          </div>
        }
        <li><a style="margin-right: -60px; font-size: 25px !important;" (click)="logout()">Logout</a></li>
      }
    </ul>
  </div>
</div>
