<div class="container">
    <div class="card">
        <p>¡You are in the rating section! Please leave your comment and rating.</p>
        <small style="color: red; font-size: 15px;">(1 star - So bad) | (5 star - Its amazing!)</small>
    </div>
</div>

<div class="container">
    <div class="valoracion">
      <div class="estrellas">
        <ng-container *ngFor="let estrella of [1, 2, 3, 4, 5]; let i = index">
          <i
            class="estrella"
            [ngClass]="{ 'estrella-seleccionada': i < punctuacion }"
            (click)="seleccionarPuntuacion(i + 1)"
            >&#9733;</i
          >
        </ng-container>
      </div>
      <br />
      <textarea
        [(ngModel)]="message"
        placeholder="Write a message..."
      ></textarea>
      <br />
      <button (click)="sendRating()">Send Rating</button>
    </div>
</div>
