.navbar {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.navbar h1 {
  margin: 0;
  font-size: 80px;
  color: #6a1b9a;
}

.firstMessage {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.firstMessage span {
  margin-right: 20px;
  font-size: 1.2rem;
  color: #4a148c;
}

.firstMessage a {
  text-align: center;
  padding: 10px 20px;
  background-color: rgb(130, 27, 249);
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.firstMessage a:hover {
  background-color: rgb(54, 13, 78);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.contact-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ecedee;
  padding: 50px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
  border-radius: 10px;
}

.form-container {
  flex: 1;
  margin-right: 50px;
}

.form-container h3 {
  font-size: 1.8rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  margin-bottom: 10px;
  font-size: 20px !important;
  font-weight: bold;
  color: #333;
}

form input {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 18px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus {
  border-color: #6c63ff;
  box-shadow: 0 0 5px rgba(108, 99, 255, 0.5);
  outline: none;
}

form button {
  padding: 10px 20px;
  background-color: rgb(130, 27, 249);
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

form button:hover {
  background-color: rgb(54, 13, 78);
  transform: translateY(-2px);
}

form button:active {
  transform: translateY(0);
}

select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  background-color: #fafafa;
  font-size: 18px;
  color: black;
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
}

select {
  appearance: none;
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 10px;
}

select:focus {
  outline: none;
  border-color: #6c63ff;
  box-shadow: 0 0 8px rgba(108, 52, 131, 0.3);
}

.logo-container {
  flex: 1;
  text-align: center;
}

.logo-container img {
  max-width: 100%;
  height: auto;
}

h3 {
  font-size: 1.8rem;
  text-align: center;
  color: #4a148c;
  margin-bottom: 30px;
}

.firstMessage {
  display: grid;
}

.firstMessage span {
  font-size: 20px;
}

.containerCard {
  padding: 20px;
  background-color: transparent;
  border-radius: 10px;
}

.containerCard:hover {
  .arrow-left,.arrow-right{
    display: block;
  }
}

.row {
  display: flex;
  overflow-x: hidden;
  white-space: nowrap;
  transition: transform 0.3s ease;
}

.card {
  background-color: #ecedee;
  border: 1px solid #e0e0e0;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  width: 300px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.card:hover {
  transform: translateY(-10px);
}

.card-img-top {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 250px;
  object-fit: cover;
}

.card-body {
  padding: 20px;
  flex-grow: 1;
  text-align: center;
}

.card-title {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card-text {
  font-size: 1.2rem;
  color: #7f8c8d;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.containerCard {
  position: relative;
}

.row {
  display: flex;
  transition: transform 0.3s ease;
}

.scroll-containerCard .card:first-child {
  margin-left: 0 !important;
}

.scroll-containerCard .card:last-child {
  margin-right: 0 !important;
}

.arrow-left,
.arrow-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #8c8c8c81;
  color: #fff;
  border: none;
  width: 40px;
  height: 150px;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 24px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  z-index: 10;
  display: none;
}

.arrow-left {
  left: 20px; 
  margin-top: 55px;
}

.arrow-right {
  right: 20px; 
  margin-top: 55px;
}

.arrow-left:hover,
.arrow-right:hover {
  background-color: #443a4981;
  transform: translateY(-50%) scale(1.05);
}

.arrow-left:active,
.arrow-right:active {
  transform: translateY(-50%) scale(1);
}


@media only screen and (max-width: 480px) {

  .navbar{
    text-align: center;
  }

  .navbar h1{
    font-size: 50px;
  }

  .container {
    display: grid;
    justify-items: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    margin-left: -20px;
  }

  .containerCard{
    width: 300px;
    margin-left: 20px !important;
  }

  .row{
    overflow-x: scroll;
  }

  .contact-section{
    width: 242px;
    margin-left: 20px !important;
  }

  .contact-section img{
    display: none;
  }

  .containerCard:hover {
    .arrow-left,.arrow-right{
      display: none;
    }
  }

  .contact-section form input{
    width: 220px;
  }

  .arrow-left,.arrow-right{
    display: none;
  }

}