@if (pendingReserves.length > 0) {
<div class="container">
  <div class="container-table">
    <table class="styled-table">
      <tr>
        <th>Date</th>
        <th>User</th>
        <th>Service</th>
        <th></th>
        <th>Actions</th>
        <th></th>
      </tr>
      @for (reserve of pendingReserves; track $index) {
      <tr>
        <td>{{ reserve.day }}</td>
        <td>{{ reserve.username }}</td>
        <td>{{ getServiceName(reserve.idService) }}</td>
        <td>
          <button style="background-color: #bcac1f;" (click)="selectWorker(reserve.id)">
            Modify cite
            <i class="fas fa-edit" aria-hidden="true"></i>
          </button>
        </td>
        <td></td>
        <td>
          <button style="background-color: #F44336;" (click)="deleteCite(reserve.id)">
            Delete cite
            <i class="fas fa-trash" aria-hidden="true"></i>
          </button>
        </td>
      </tr>
      }
    </table>
  </div>
</div>
}@else {
  <div class="container">
    <div class="alert-card">Work completed, at least at this moment...</div>
  </div>
}
