@if (pendingReserves.length > 0) {
    <div class="container">
      @for (reserve of pendingReserves; track $index) {
      <div class="reserve-card">
        <div class="reserve-day">{{ reserve.day }}</div>
        <div class="reserve-service">{{ getServiceName(reserve.idService) }}</div>
        <div class="reserve-button">
          <button class="button auto-assign" (click)="setWorker(reserve.id)">
            Auto Assign
          </button>
          <button
            class="button manual-assign"
            (click)="selectWorker(reserve.id)"
          >
            Manual Assign
          </button>
        </div>
      </div>
      }
    </div>
}@else {
    <div class="container">
        <div class="alert-card">
            Work completed, at least at this moment...
        </div>
    </div>
}
