<div class="container">
  @if (!evening) {
  <form class="centered-form" style="width: 200%" (ngSubmit)="createSchedule()">
    <div class="daysOfWeek">
      <label>Select a Day for Mornings <span class="required">*</span></label>
      <br />
      <br />
      <div class="day-list" style="width: 200%">
        <div
          *ngFor="let day of daysOfWeek"
          (click)="toggleDaySelection(day)"
          [class.selected]="selectedDays.includes(day)"
        >
          {{ day }}
        </div>
      </div>
      <br />
    </div>
    <br />
    <div class="buttonContainer">
      <button class="formButton" type="submit">
        Submit
      </button>
    </div>
  </form>
  }@else {
    <form class="centered-form" style="width: 200%">
        <div class="daysOfWeek">
          <label>Select a Days for Evenings <span class="required">*</span></label>
          <br />
          <br />
          <div class="day-list" style="width: 200%">
            <div
              *ngFor="let day of daysOfWeek"
              (click)="toggleDaySelection(day)"
              [class.selected]="selectedDays.includes(day)"
            >
              {{ day }}
            </div>
          </div>
          <br />
        </div>
        <br />
        <div class="buttonContainer">
          <button class="formButton" type="submit">
            Submit
          </button>
        </div>
      </form>
  }
</div>
