.services-section {
  padding: 40px;
  text-align: center;
}

h2 {
  font-size: 50px;
  color: #6c3483;
  margin-bottom: 40px;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-left: 43px;
}

.service-card {
  position: relative;
  background-color: #ecedee;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
  aspect-ratio: 1;
  width: 100%;
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.service-card img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  transition: opacity 0.3s ease;
}

.service-card:hover img {
  opacity: 0.3;
}

.card-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.service-card:hover .card-content {
  opacity: 1;
}

.service-card h3 {
  font-size: 22px;
  margin: 15px 0 10px 0;
  color: #333;
}

.service-card p {
  font-size: 20px;
  color: #464646;
  text-align: center;
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}

.categoryTypes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + label {
  text-decoration: underline;
  font-weight: bold;
}

label {
  position: relative;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
  color: #333;
}

.formButton {
  cursor: pointer;
  background-color: rgb(130, 27, 249);
  color: white;
  border-radius: 6px;
  border: none;
  height: 50px;
  width: 100%;
  font-size: 18px;
  transition: background-color 0.3s, transform 0.2s;
}

.formButton:hover {
  background-color: rgb(54, 13, 78);
  transform: translateY(-2px);
}

.formButton:active {
  transform: translateY(0);
}

select {
  width: 80%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1.2rem;
  background-color: #f8f9fa;
  transition: border-color 0.3s, box-shadow 0.3s;
}

select option {
  width: 10px;
  font-size: 18px;
}

select:focus {
  border-color: #6c63ff;
  box-shadow: 0 0 5px rgba(108, 99, 255, 0.5);
  outline: none;
}

.categoriesSelect {
  display: none;
}

@media only screen and (max-width: 480px) {

  .service-card {
    border-radius: 15px;
    padding: 20px;
    min-height: 400px;
    min-width: auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    aspect-ratio: unset;
    width: unset;
  }

  .service-card:hover {
    transform: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

  .service-card img {
    width: 100%;
    height: 200px;
    border-radius: 15px;
    transition: unset;
  }
  
  .service-card:hover img {
    opacity: unset;
  }

  .card-content {
    position: static; 
    transform: none;
    opacity: 1;
    color: #333;
  }

  button{
    font-size: 20px !important;
  }

  .services-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr) !important;
  }

  .service-card img {
    border-radius: 15px;
    object-fit: cover;
  }

  .categoriesSelect {
    display: block;
  }

  .categoryDiv {
    display: none;
  }
}
