<h2 align="center">Our Services</h2>

@if(categories){
<div>
  <div class="categoryTypes">
    <div class="categoryDiv">
      <input
        type="radio"
        id="all"
        name="category"
        value="all"
        (change)="getServices($event)"
        checked
      />
      <label for="all">All Services</label>
    </div>
    @for (category of categories; track $index) {
      <div class="categoryDiv">
        <input
          type="radio"
          id="{{ category.id }}"
          name="category"
          value="{{ category.id }}"
          (change)="getServices($event)"
        />
        <label for="{{ category.id }}">{{ category.name }}</label>
      </div>
    }
    <select name="categories" class="categoriesSelect" id="categories" (change)="getServices($event)">
      <option value="all">All categories</option>
      @for (category of categories; track $index) {
        <option value="{{category.id}}">{{category.name}}</option>
      }
    </select>
  </div>
</div>

} @if (services !== []) {
  <div class="services-section">

  <div class="services-grid">
    @for (service of services; track $index) {
      <div class="service-card">
        <img [src]="service.imageUrl" alt="{{ service.name }}" />
        <div class="card-content">
          <h3 style="color: black;" data-toggle="tooltip" data-placement="top" title="{{service.name}}">
            {{ service.name }} - {{ service.price }} €
          </h3>
          <p data-toggle="tooltip" data-placement="top" title="{{service.description}}">
            {{ service.description }}
          </p>
          <p>Duration - {{ service.duration }} minutes</p>
          <button (click)="goTo(service.id)" type="button" class="formButton">
            Reserve now!
          </button>
        </div>
      </div>      
    }
  </div>
</div>
}
